marker-w = 24px
marker-color = primary-color

track-w = marker-w / 4
track-color = lighten(grey, 50%)

item-border = lighten(grey, 25%)
item-bg = white

pointer-w = 16px




.agenda-track
  display block
  relative 0px 0px
  padding 0px 0px 5px 0px
  &:before
    content ' '
    width track-w
    height 100%
    margin-left track-w * -0.5
    absolute top 0px left 50%
    background track-color
  .day-divider
    text-align center
    font-weight 700
    position relative
    margin-bottom 15px
    span
      background track-color
      padding 6px 8px
  .agenda-marker
    width marker-w
    height marker-w
    relative top -70px left 50%
    margin-left marker-w * -0.5
    background marker-color
    border-radius 50%
    text-align center
    color white
    line-height marker-w
    font-size marker-w * 0.75
  .day-divider + .agenda-marker
    top 0px
  .agenda-item
    margin-top pointer-w * -1 + -75
    offset = marker-w / 2 + pointer-w
    margin-right "calc(50% + %s)" % offset
    margin-bottom 30px
    border solid 1px item-border
    padding 12px
    position relative
    background item-bg
    border-radius 3px
    p
      color lighten(black, 25%)
      margin 8px 0px
      font-size 0.8em
    .agenda-meta
      font-size 0.8em
      text-align right
      color lighten(black, 35%)
    &:before, &:after
      content ''
      position absolute
      width 0
      height 0
      border-style solid
      border-color transparent
      border-width pointer-w pointer-w 0 0
    &:before
      right pointer-w * -1
      top 5px
      border-top-color item-border
    &:after
      right pointer-w * -1 + 2
      top 6px
      border-top-color item-bg
    &.alt
      margin-right 0px
      margin-left "calc(50% + %s)" % offset
      &:before, &:after
        border-width pointer-w 0 0 pointer-w
      &:before
        left pointer-w * -1
      &:after
        left pointer-w * -1 + 2
  .day-divider + .agenda-marker + .agenda-item
    margin-top pointer-w * -1 + -5
